*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


/* #####NAVEGATION BAR#### */
/* Will be adding the roots for the variables to color and font */
/* Media Q 320px */

.dark-theme{
    --main-bg-color: #737373;
    --divs-bg-color: #231C69;
    --font-main-color: #fff;
    --meme-div-color: black;

}

.light-theme{
    --main-bg-color: #fff;
    --divs-bg-color: #F4D1FF;
    --font-main-color: #844CA3;
}

body{
    background-color: var(--main-bg-color);
    color: var(--font-main-color);
}


header{
    width: 100%;
    height: 100px;
    background-color: var(--divs-bg-color);
    box-shadow: 0 4px 5px rgb(55, 55, 55);
}

.title{
    text-align: center;
    line-height: 2rem;
    padding: 10px;
    color: var(--font-main-color);
    font-family: Arial, Helvetica, sans-serif;
}

.buttons-container{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.insert-picture, .inser-text, 
.light-mode{
    text-align: center;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 10px;
    border: 0;
    background-color: transparent;
    color: var(--font-main-color);
}

.meme-container{
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.meme-gen{
    width: 100%;
    max-width: 610px;
    height: 400px;
    padding: 10px 10px;
    text-align: center;
    line-height: 2rem;
    color: rgb(23, 23, 23);
    font-size: 1.5rem;

}

.picture{
    height: 250px;
    background-color: var(--meme-div-color);
}

.top-text, .bottom-text{
    padding: 10px;
    background-color: #fff;
}

.download{
    background-color: var(--divs-bg-color);
    border: 0;
    height: 40px;
    padding: 10px;
    color: var(--font-main-color);
    box-shadow: 0 4px 5px rgb(55, 55, 55);
}



/* MEDIA QUERY  (480 px)*/

@media ( min-width: 480px) {

    header{
        height: 100px;
    }

    .title{
        font-size: 2rem;
    }

    .buttons-container{
        height: 60px;
        display: flex;
        align-items: center;
    }


    .insert-picture, .inser-text, 
    .light-mode{
        font-size: 13px;
     
    }

    .meme-container{
        height: 540px;
    }
    
    .meme-gen{
        height: 510px;
    }
    
    .picture{
        height: 350px;
    }
    
    .download{
        height: 60px;
        font-size: 1rem;
    }
    
}


